# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [1]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [2]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution

## Answer 1

In [3]:
def sum_generator(limit):
    n = 1
    sm = []
    while n <= limit:
        sm.append(n ** 0.5)
        yield sum(sm)
        n += 1

# Example usage:
limit = 5
generator = sum_generator(limit)

for sum_value in generator:
    print(sum_value)

1.0
2.414213562373095
4.146264369941973
6.146264369941973
8.382332347441762

## Answer 2

In [4]:
# Example usage:
limit = 13
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989

## Answer *3*

In [5]:
!pip install dlt[duckdb] # Install dlt with all the necessary DuckDB dependencies

Requirement already satisfied: dlt[duckdb] in /usr/local/lib/python3.10/dist-packages (0.4.4)
Requirement already satisfied: PyYAML>=5.4.1 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (6.0.1)
Requirement already satisfied: SQLAlchemy>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (2.0.27)
Requirement already satisfied: astunparse>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (1.6.3)
Requirement already satisfied: click>=7.1 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (8.1.7)
Requirement already satisfied: fsspec>=2022.4.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (2023.6.0)
Requirement already satisfied: gitpython>=3.1.29 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (3.1.42)
Requirement already satisfied: giturlparse>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (0.12.0)
Requirement already satisfied: hexbytes>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (1.0.0)
Requirement already satisfied: humanize>=4.4.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (4.7.0)
Requirement already satisfied: jsonpath-ng>=1.5.3 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (1.6.1)
Requirement already satisfied: makefun>=1.15.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (1.15.2)
Requirement already satisfied: orjson<=3.9.10,>=3.6.7 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (3.9.10)
Requirement already satisfied: packaging>=21.1 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (23.2)
Requirement already satisfied: pathvalidate>=2.5.2 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (3.2.0)
Requirement already satisfied: pendulum>=2.1.2 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (3.0.0)
Requirement already satisfied: pytz>=2022.6 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (2023.4)
Requirement already satisfied: requests>=2.26.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (2.31.0)
Requirement already satisfied: requirements-parser>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (0.5.0)
Requirement already satisfied: semver>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (3.0.2)
Requirement already satisfied: setuptools>=65.6.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (67.7.2)
Requirement already satisfied: simplejson>=3.17.5 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (3.19.2)
Requirement already satisfied: tenacity>=8.0.2 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (8.2.3)
Requirement already satisfied: tomlkit>=0.11.3 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (0.12.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (4.9.0)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (2024.1)
Requirement already satisfied: duckdb<0.10.0,>=0.6.1 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (0.9.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.3->dlt[duckdb]) (0.42.0)
Requirement already satisfied: six<2.0,>=1.6.1 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.3->dlt[duckdb]) (1.16.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from gitpython>=3.1.29->dlt[duckdb]) (4.0.11)
Requirement already satisfied: ply in /usr/local/lib/python3.10/dist-packages (from jsonpath-ng>=1.5.3->dlt[duckdb]) (3.11)
Requirement already satisfied: python-dateutil>=2.6 in /usr/local/lib/python3.10/dist-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Requirement already satisfied: time-machine>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.13.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->dlt[duckdb]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->dlt[duckdb]) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->dlt[duckdb]) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->dlt[duckdb]) (2024.2.2)
Requirement already satisfied: types-setuptools>=57.0.0 in /usr/local/lib/python3.10/dist-packages (from requirements-parser>=0.5.0->dlt[duckdb]) (69.0.0.20240125)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.4.0->dlt[duckdb]) (3.0.3)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb]) (5.0.1)

In [6]:
import duckdb
import dlt

generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='data')
conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")

### setup

### load first time

In [7]:
info = generators_pipeline.run(people_1(),
										table_name="people",
										write_disposition="replace")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

Pipeline dlt_colab_kernel_launcher load step completed in 0.24 seconds
1 load package(s) were loaded to destination duckdb and into dataset data
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1708044348.7173808 is LOADED and contains no failed jobs

In [8]:
conn.sql('SELECT * FROM people')

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1708044348.7173808 │ LLhi7D7E7LZDMg │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1708044348.7173808 │ W7bKrlEwoH1gdg │ NULL       │
│     3 │ Person_3 │    28 │ City_A  │ 1708044348.7173808 │ Cl9k94kHb+HQlQ │ NULL       │
│     4 │ Person_4 │    29 │ City_A  │ 1708044348.7173808 │ VrEfqtd1eNTyTQ │ NULL       │
│     5 │ Person_5 │    30 │ City_A  │ 1708044348.7173808 │ 3VvXp+wFmLT/9A │ NULL       │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┘

In [9]:
conn.sql('SELECT SUM(age) FROM people')

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      140 │
└──────────┘

### add and update

In [10]:
info = generators_pipeline.run(people_2,
										table_name="people",
										write_disposition="append",
                    )
print(info)
conn.sql('SELECT * FROM people')

Pipeline dlt_colab_kernel_launcher load step completed in 0.23 seconds
1 load package(s) were loaded to destination duckdb and into dataset data
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1708044349.5633864 is LOADED and contains no failed jobs

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1708044348.7173808 │ LLhi7D7E7LZDMg │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1708044348.7173808 │ W7bKrlEwoH1gdg │ NULL       │
│     3 │ Person_3 │    28 │ City_A  │ 1708044348.7173808 │ Cl9k94kHb+HQlQ │ NULL       │
│     4 │ Person_4 │    29 │ City_A  │ 1708044348.7173808 │ VrEfqtd1eNTyTQ │ NULL       │
│     5 │ Person_5 │    30 │ City_A  │ 1708044348.7173808 │ 3VvXp+wFmLT/9A │ NULL       │
│     3 │ Person_3 │    33 │ City_B  │ 1708044349.5633864 │ YPZt5YFbrdOK+A │ Job_3      │
│     4 │ Person_4 │    34 │ City_B  │ 1708044349.5633864 │ 1VPlvfCD5ZpbEg │ Job_4      │
│     5 │ Person_5 │    35 │ City_B  │ 1708044349.5633864 │ FE0z0cJJCiDklw │ Job_5      │
│     6 │ Person_6 │    36 │ City_B  │ 1708044349.5633864 │ 2BsG3wgktmSvBA │ Job_6      │
│     7 │ Person_7 │    37 │ City_B  │ 1708044349.5633864 │ rSBQSyblSPQw6A │ Job_7      │
│     8 │ Person_8 │    38 │ City_B  │ 1708044349.5633864 │ 4q5fVFKfRVv/nQ │ Job_8      │
├───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┤
│ 11 rows                                                                     7 columns │
└───────────────────────────────────────────────────────────────────────────────────────┘

In [11]:
conn.sql('SELECT SUM(age) FROM people')

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      353 │
└──────────┘

## Answer 4

In [12]:
import duckdb
import dlt

generators_pipeline_merge = dlt.pipeline(destination='duckdb', dataset_name='data_merge')
conn = duckdb.connect(f"{generators_pipeline_merge.pipeline_name}.duckdb")

conn.sql(f"SET search_path = '{generators_pipeline_merge.dataset_name}'")

### setup

### load first time

In [14]:
# the outcome metadata is returned by the load and we can inspect it by printing it.
info = generators_pipeline_merge.run(people_1(),
										table_name="people",
										write_disposition="replace")
print(info)

Pipeline dlt_colab_kernel_launcher load step completed in 0.26 seconds
1 load package(s) were loaded to destination duckdb and into dataset data_merge
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1708044362.4206784 is LOADED and contains no failed jobs

In [15]:
conn.sql('SELECT * FROM people')

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1708044362.4206784 │ zypbBUP+3rOh9A │
│     2 │ Person_2 │    27 │ City_A  │ 1708044362.4206784 │ FTn2GutzMJc+MQ │
│     3 │ Person_3 │    28 │ City_A  │ 1708044362.4206784 │ I9pQtUyI4N3hFA │
│     4 │ Person_4 │    29 │ City_A  │ 1708044362.4206784 │ yyX5AySWW83eKw │
│     5 │ Person_5 │    30 │ City_A  │ 1708044362.4206784 │ XqlVrfKGo4hFew │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┘

In [16]:
conn.sql('SELECT SUM(age) FROM people')

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      140 │
└──────────┘

### add and update

In [17]:
info = generators_pipeline_merge.run(people_2,
										table_name="people",
										write_disposition="merge",
                    primary_key="id"
                    )
print(info)
conn.sql('SELECT * FROM people')

Pipeline dlt_colab_kernel_launcher load step completed in 0.44 seconds
1 load package(s) were loaded to destination duckdb and into dataset data_merge
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1708044401.162202 is LOADED and contains no failed jobs

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1708044362.4206784 │ zypbBUP+3rOh9A │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1708044362.4206784 │ FTn2GutzMJc+MQ │ NULL       │
│     5 │ Person_5 │    35 │ City_B  │ 1708044401.162202  │ eObA+MV6YcACQw │ Job_5      │
│     7 │ Person_7 │    37 │ City_B  │ 1708044401.162202  │ QdvhF2Q3q38Mlg │ Job_7      │
│     4 │ Person_4 │    34 │ City_B  │ 1708044401.162202  │ bZRTUx1/aLu+Kg │ Job_4      │
│     8 │ Person_8 │    38 │ City_B  │ 1708044401.162202  │ glzpTXB/ISA47Q │ Job_8      │
│     3 │ Person_3 │    33 │ City_B  │ 1708044401.162202  │ AeckgGoNKg1NgA │ Job_3      │
│     6 │ Person_6 │    36 │ City_B  │ 1708044401.162202  │ Vcr+HGL+XyNkNA │ Job_6      │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┘

In [18]:
conn.sql('SELECT SUM(age) FROM people')

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      266 │
└──────────┘